// ---------------------BravoRG---------------
@font-face {
    font-family: "BravoRG";
    src:
        url(../fonts/BravoRGRegular.woff2) format("woff2"),
        url(../fonts/BravoRGRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
// -------------------ceremonious_one----------------
@font-face {
    font-family: "ceremonious_one";
    src:
        url(../fonts/ceremonious_one.woff2) format("woff2"),
        url(../fonts/ceremonious_one.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
// ---------------------PFdin-regular-------------
@font-face {
    font-family: "PFdin-regular";
    src:
        url(../fonts/PFdin-regular.woff2) format("woff2"),
        url(../fonts/PFdin-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PFdin-medium";
    src:
        url(../fonts/PFdin-medium.woff2) format("woff2"),
        url(../fonts/PFdin-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
