@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular);
@import url("fonts.css");
body {
  font-family: "PT Sans";
  font-size: 15px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 980px;
  padding: 0px 15px;
  margin: 0 auto;
}

.title {
  font-size: 0px;
  text-align: center;
}

.title__item--mb:not(:last-child) {
  margin-bottom: 23px;
}

.title__item {
  color: #bb9c66;
  font-family: "ceremonious_one";
  font-size: 40px;
  line-height: 0.63;
}

.title__main {
  font-family: "PFdin-medium";
  font-size: 35px;
  letter-spacing: 5.25px;
  font-weight: 500;
  margin-bottom: 27px;
}
.title__main--white {
  color: #fff;
}

.button {
  padding: 21px 54px 21px 54px;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-family: "PFdin-medium";
  font-weight: 500;
  outline: solid 3px #bb9c66;
  transition: all 0.5s;
}
.button:hover {
  background-color: #000;
  opacity: 0.6;
  transform: scale(0.9);
}

.page {
  flex: 1 1 auto;
  padding: 75px 0px 0px 0px;
}

.title__main--white {
  color: #fff;
}

/*-----------------header-------------*/
.header {
  background-color: #1c242a;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 75px;
}
@media (max-width: 767.98px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__logo:not(:last-child) {
  margin-right: 82px;
}

.header__logo {
  width: 144px;
}
@media (max-width: 767.98px) {
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
}

.header__menu {
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .header__menu {
    flex: 0 0 auto;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c242a;
    opacity: 0.98;
    padding: 100px 0px 0px 0px;
    overflow: auto;
    transition: all 0.5s;
  }
  .menu__body::after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }
  .menu__body.active {
    top: 0;
    transition-duration: 0.5s;
    z-index: 3;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
    line-height: 1.3;
    padding: 0px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 23px;
}
@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-right: 0px;
  }
}

.menu__link {
  font-family: "PFdin-regular";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 767.98px) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
}
.burger-menu span {
  position: absolute;
  top: 9px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.burger-menu.active span {
  transform: scale(0);
  transition: all 0.5s;
}
.burger-menu::before, .burger-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.burger-menu::after {
  bottom: 0;
  transition: all 0.5s;
}
.burger-menu::before {
  top: 0;
  transition: all 0.5s;
}
.burger-menu.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}
.burger-menu.active::before {
  top: 9px;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.header__actions {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}

.actions-header__region {
  background: url("../img/logo/02.png") top left no-repeat;
  padding-left: 30px;
  min-width: 18px;
  min-height: 18px;
  font-family: "PFdin-regular";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.4px;
  color: #fff;
}
@media (max-width: 930px) {
  .actions-header__region span {
    padding-left: 0px;
    display: none;
  }
}

.actions-header__user {
  margin-left: 30px;
}
@media (max-width: 930px) {
  .actions-header__user {
    margin-left: 0px;
  }
}

.user-actions__icon {
  cursor: pointer;
}

.user-actions__menu {
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  font-size: 0px;
  position: absolute;
  top: 58px;
  right: 0;
  background-color: #1a2227;
  transition: all 0.3s ease-in 0s;
  min-width: 175px;
}
.user-actions__menu._active {
  opacity: 1;
  visibility: visible;
}

.user-actions__item {
  min-height: 15px;
}
.user-actions__item:not(:last-child) {
  margin-bottom: 15px;
}

.user-actions__link {
  padding-left: 30px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 991.98px) {
  .user-actions__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .user-actions__link {
    line-height: 1.3;
  }
}

.user-actions__link-1 {
  background: url("../img/icons/01.png") 1px center no-repeat;
}

.user-actions__link-2 {
  background: url("../img/icons/02.png") left center no-repeat;
}

.user-actions__link-3 {
  background: url("../img/icons/03.png") 4px center no-repeat;
}

.user-actions__link-4 {
  background: url("../img/icons/04.png") left center no-repeat;
}

.main-slider {
  position: relative;
}

.main-slider--mb:not(:last-child) {
  margin-bottom: 100px;
}

.main-slider__item {
  text-align: center;
  padding: 30px 0px 100px 0px;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
}

.item-main-slider__text {
  line-height: 1.67;
  color: #fff;
  max-width: 688px;
  margin: 0 auto;
}
.item-main-slider__text:not(:last-child) {
  margin-bottom: 58px;
}

.item-main-slider__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-main-slider__background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__control {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 100px;
  height: 100px;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-slider__control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation-name: rotate 3s infinite;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.control-main-slider__arrow--prev {
  background: url("../img/icons/main/arrow-1.png") 0 0 no-repeat;
  width: 14px;
  height: 24px;
}

.control-main-slider__decor {
  position: relative;
  z-index: 2;
  margin: 0px 12px;
}

.control-main-slider__arrow--next {
  background: url("../img/icons/main/arrow-2.png") 0 0 no-repeat;
  width: 14px;
  height: 24px;
}

.lots--mb:not(:last-child) {
  margin-bottom: 50px;
}

.lots__header:not(:last-child) {
  margin-bottom: 40px;
}

.lots-decor__block {
  display: flex;
  align-items: center;
}

.decor-lots__items {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.decor-lots__items::before {
  content: "";
  height: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}
.decor-lots__items::after {
  content: "";
  height: 25px;
  flex: 0 0 25px;
  border: 1px solid #bb9c66;
  transform: rotate(-45deg);
  margin: 0px 5px 0px 5px;
}
.decor-lots__items span {
  display: flex;
  align-items: center;
  margin: 0px 7px;
}
.decor-lots__items span::before {
  content: "";
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px #bb9c66;
  margin: 0px 5px;
}
.decor-lots__items span::after {
  content: "";
  flex: 0 0 15px;
  width: 15px;
  height: 16px;
  margin: 0px 5px;
  transform: rotate(-45deg);
  border: solid 1px #bb9c66;
}
.decor-lots__items:last-child {
  flex-direction: row-reverse;
}
.decor-lots__items:last-child span {
  flex-direction: row-reverse;
}

.decor-lots__icon {
  text-align: center;
  flex: 0 0 145px;
}
.decor-lots__icon img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .decor-lots__icon {
    flex: 0 0 95px;
  }
}

.slider-lots__body {
  display: flex;
  margin: 0px -50px 50px 0px;
}
@media (max-width: 950px) {
  .slider-lots__body {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .slider-lots__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 530px) {
  .slider-lots__body {
    grid-template-columns: 1fr;
  }
}

.slider-lots__slide {
  padding: 0px 50px;
}
@media (max-width: 950px) {
  .slider-lots__slide {
    padding: 0px 30px;
  }
}
@media (max-width: 865px) {
  .slider-lots__slide {
    padding: 0px 10px;
  }
}
@media (max-width: 767.98px) {
  .slider-lots__slide:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 530px) {
  .slider-lots__slide {
    padding: 0px;
  }
}

.lot {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lot__header {
  border: solid 3px #bb9c66;
  text-align: center;
  position: relative;
  padding: 0px 0px 250px 0px;
}
.lot__header:not(:last-child) {
  margin-bottom: 30px;
}

.lot__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lot__timer {
  width: 72px;
  height: 72px;
  transform: translate(-50%, 50%);
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 4px 0px 0px 0px;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.lot__timer div {
  position: relative;
  z-index: 2;
}
.lot__timer::before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.timer-lot__icon {
  margin-top: 3px;
  animation: timer 1.4s linear infinite;
}

@keyframes timer {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.timer-lot__item {
  font-family: "PT Sans Narrow";
  font-size: 18px;
}

.slider-lots__control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-slider-lots__arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.control-slider-lots__arrow span {
  background: url("../img/icons/lots/arrow/01.png") 0 0 no-repeat;
  width: 108px;
  height: 35px;
}
@media (max-width: 450px) {
  .control-slider-lots__arrow span {
    width: 50px;
  }
}
.control-slider-lots__arrow::after {
  content: "";
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px #bb9c66;
}

.control-slider-lots__arrow--right {
  transform: rotate(-180deg);
}

.control-slider-lots__link {
  background: url("../img/icons/lots/circle/01.png") 0 0 no-repeat;
  width: 103px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 21px;
  color: #000;
  font-family: "PFdin-medium";
  font-weight: 500;
  text-transform: uppercase;
}
.control-slider-lots__link:not(:last-child) {
  margin: 0px 20px;
}

.lot__title {
  font-family: "PFdin-medium";
  text-align: center;
  max-width: 233px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.19;
  color: #000;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}
.lot__title:not(:last-child) {
  margin: 30px 0px;
}
@media (max-width: 767.98px) {
  .lot__title {
    max-width: 100%;
  }
}

.lot__info {
  display: flex;
  justify-content: center;
}
.lot__info:not(:last-child) {
  margin-bottom: 35px;
}

.info-lot__statistic {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-lot__icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info-lot__icon img {
  position: relative;
  z-index: 2;
}
.info-lot__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #000;
}

.info-lot__value,
.current-info-lot__label {
  font-size: 14px;
  line-height: 1.79;
  color: #000;
}

.info-lot__value {
  border-bottom: 1px solid #bb9c66;
}

.info-lot__current {
  flex: 1 1 auto;
}

.current-info-lot {
  padding: 0px 5px;
  position: relative;
}
.current-info-lot::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  border: 1px solid #bb9c66;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.current-info-lot__label:not(:last-child) {
  margin-bottom: 13px;
}

.current-info-lot__value {
  font-family: "BravoRG";
  font-size: 50px;
  line-height: 0.42;
  text-align: center;
  color: #1c242a;
}
.current-info-lot__value:not(:last-child) {
  margin-bottom: 13px;
}

.lot__button {
  text-align: center;
  color: #000;
  font-size: 21px;
  padding: 18px 29px 14px 31px;
}
.lot__button:hover {
  color: #fff;
}

.categories--mb:not(:last-child) {
  margin-bottom: 77px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}
.categories__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #fff;
}

.categories__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -50px;
  position: relative;
  padding: 43px 0px 0px 0px;
}
.categories__row::before, .categories__row::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 24px;
  height: 24px;
  transform: translate(-50%, 0px) rotate(-45deg);
  border: 1px solid #bb9c66;
}
.categories__row::before {
  left: 33.333%;
}
@media (max-width: 980px) {
  .categories__row::before {
    left: 50%;
  }
}
.categories__row::after {
  left: 66.667%;
}
@media (max-width: 980px) {
  .categories__row::after {
    display: none;
  }
}

.categories__column {
  flex: 0 1 33.333%;
  padding: 0px 50px 25px 50px;
  margin: 0px 0px 25px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}
.categories__column::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bb9c66;
  transform: translate(-50%, 0px);
}
@media (max-width: 980px) {
  .categories__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 640px) {
  .categories__column {
    flex: 1 1 100%;
  }
}

.categories__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform, 0.5s;
}
.categories__item:hover {
  transform: scale(0.9);
}

.item-categories__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: 50%;
  overflow: hidden;
}

.item-categories__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.item-categories__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272d31;
  opacity: 0.8;
  z-index: 1;
}

.item-categories__title {
  font-family: "PFdin-medium";
  font-size: 21px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}

.item-categories__icon {
  position: relative;
  z-index: 2;
}
.item-categories__icon:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-categories__decor {
  position: relative;
  z-index: 2;
  text-align: center;
}

.categories__decor {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  transform: translate(50%, 0px);
  height: calc(100% + 9px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__decor::before {
  content: "";
  width: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}
.categories__decor::after {
  content: "";
  width: 24px;
  height: 24px;
  transform: rotate(-45deg);
  border: 1px solid #bb9c66;
  margin: 15px 0px 0px 0px;
}
.categories__decor span {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__decor span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  border-radius: 50%;
  margin: 10px 0px;
}
.categories__decor span::after {
  content: "";
  width: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories__text {
  margin-top: 85px;
}

.text-categories__body {
  background: url("../img/category/decor/2.png") top left repeat-y;
  padding: 10px 0px 26px 126px;
  line-height: 1.67;
  color: #333;
  position: relative;
}
@media (max-width: 420px) {
  .text-categories__body {
    padding: 10px 0px 26px 106px;
  }
}
.text-categories__body::before {
  content: "";
  background: url("../img/category/decor/2_1.png") top left no-repeat;
  position: absolute;
  top: -5px;
  left: 0;
  width: 85px;
  height: 12px;
}
.text-categories__body p:not(:last-child) {
  margin-bottom: 25px;
}

.services {
  background-color: #1c242a;
  padding: 60px 0px;
}

.services--mb:not(:last-child) {
  margin-bottom: 65px;
}

.services__row {
  margin: 0px -50px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .services__row {
    justify-content: center;
  }
}

.services__column {
  flex: 0 1 33.333%;
  padding: 0px 50px;
}
.services__column:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .services__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 640px) {
  .services__column {
    flex: 1 1 100%;
  }
}

.services__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-services__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 165px;
}
.item-services__image:not(:last-child) {
  margin-bottom: 20px;
}

.item-services__title,
.item-services__button {
  font-family: "PFdin-medium";
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.item-services__title {
  font-size: 19px;
}
.item-services__title:not(:last-child) {
  margin-bottom: 31px;
}

.item-services__text {
  line-height: 1.67;
  text-align: center;
  color: #bb9c66;
}
.item-services__text:not(:last-child) {
  margin-bottom: 35px;
}

.item-services__button {
  position: relative;
}
.item-services__button::before {
  content: "";
  position: absolute;
  background-color: #bb9c66;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}
.item-services__button span {
  background-color: #1c242a;
  position: relative;
  z-index: 2;
  padding: 0px 15px;
}

.quotes {
  padding-bottom: 80px;
}

.slider-quotes__slide {
  display: flex;
  align-items: center;
}
@media (max-width: 580px) {
  .slider-quotes__slide {
    display: block;
  }
}

.slider-quotes__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  flex: 0 0 33.6842105263%;
}
.slider-quotes__image img {
  max-width: 100%;
}

.slider-quotes__content {
  flex: 0 1 515px;
}
@media (max-width: 580px) {
  .slider-quotes__content {
    text-align: center;
    margin-bottom: 20px;
  }
}

.slider-quotes__title {
  font-size: 25px;
  font-style: italic;
  line-height: 1.2;
  color: #000;
}
.slider-quotes__title:not(:last-child) {
  margin-bottom: 35px;
}

.slider-quotes__info {
  line-height: 1.67;
  color: #1c242a;
}

.slider-quotes__control {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.control-slider-quotes__decor {
  flex: 0 1 33.333%;
  display: flex;
  align-items: center;
}
.control-slider-quotes__decor::before {
  content: "";
  flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}
.control-slider-quotes__decor::after {
  content: "";
  margin: 0px 0px 0px 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #bb9c66;
}
.control-slider-quotes__decor:last-child {
  flex-direction: row-reverse;
}
.control-slider-quotes__decor:last-child::after {
  margin: 0px 5px 0px 0px;
}

.control-slider-quotes__link {
  flex: 0 1 33.333%;
}

.control-slider-quotes__circle {
  background: url("../img/quotes/icons/2.png") center no-repeat;
  width: 50px;
  height: 50px;
  border: solid 1px #bb9c66;
  border-radius: 50%;
  margin-left: 50px;
  cursor: pointer;
}
@media (max-width: 400px) {
  .control-slider-quotes__circle {
    margin: 0px 20px;
  }
}

.info {
  padding: 0px 0px 80px 0px;
}
@media (max-width: 767.98px) {
  .info {
    padding: 0px 0px 35px 0px;
  }
}

.info__row {
  display: flex;
  margin: 0px -22px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .info__row {
    display: block;
  }
}

.info__column {
  flex: 0 1 50%;
  padding: 0px 22px;
}
.info__column:not(:last-child) {
  margin-bottom: 55px;
}
.info__column:last-child {
  flex: 1 1 100%;
}

.title-info {
  display: flex;
  align-items: center;
  font-family: "PFdin-medium";
  font-size: 35px;
  font-weight: 500;
  line-height: 0.71;
  letter-spacing: 3.5px;
  color: #000;
}
.title-info:not(:last-child) {
  margin-bottom: 35px;
}
.title-info span:last-child {
  margin-left: 17px;
}

.info__item:not(:last-child) {
  margin-bottom: 35px;
}

.info__date {
  color: #bb9c66;
  font-size: 12px;
}

.info__date,
.info__label {
  font-weight: 700;
}
.info__date:not(:last-child),
.info__label:not(:last-child) {
  margin-bottom: 10px;
}

.info__label {
  text-decoration: underline;
}

.info__text,
.subscribe__text {
  line-height: 1.67;
  color: #333;
}

@media (max-width: 767.98px) {
  .subscribe__text {
    margin-bottom: 25px;
  }
}

.subscribe__body {
  display: flex;
  margin: 0px -22px;
}
@media (max-width: 767.98px) {
  .subscribe__body {
    display: block;
  }
}

.subscribe__column {
  flex: 0 1 50%;
  padding: 0px 22px;
}

.subscribe__form {
  display: flex;
  height: 50px;
  border: solid 3px #bb9c66;
  background-color: #fff;
}

.form-subscribe__input {
  display: flex;
  flex: 1 1 auto;
}
.form-subscribe__input .input {
  color: #4f4f4f;
  line-height: 1.67;
  width: 100%;
  height: 100%;
  padding: 0px 25px;
  display: block;
  outline: none;
}

.form-subscribe__button {
  position: relative;
  flex: 0 0 95px;
  background-color: #fff;
}
.form-subscribe__button::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  transform: 0px, -50%;
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
}
.form-subscribe__button span {
  background: url("../img/quotes/icons/06.png") right no-repeat;
  padding: 0px 32px 0px 0px;
  font-family: "PFdin-medium";
  font-size: 21px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 2.12px;
  color: #1c242a;
  cursor: pointer;
}

.footer {
  background-color: #1c242a;
  padding: 45px 0px;
}

.footer__container {
  display: flex;
}
@media (max-width: 767.98px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

.footer__column:first-child {
  flex: 0 0 180px;
}
.footer__column--full {
  flex: 1 1 auto;
}

.footer__logo {
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .footer__logo {
    margin-bottom: 0px;
  }
}

.footer__info {
  font-size: 14px;
  line-height: 1.5;
  color: #bb9c66;
}
@media (max-width: 767.98px) {
  .footer__info {
    margin: 25px 0px 20px 0px;
  }
}

.footer__menu {
  padding: 0px 30px;
}
@media (max-width: 767.98px) {
  .footer__menu {
    margin-bottom: 20px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .footer__list {
    justify-content: center;
  }
}

.footer__item:not(:last-child) {
  margin: 0px 15px 15px 0px;
}
@media (max-width: 767.98px) {
  .footer__item:not(:last-child) {
    margin: 0px 15px 10px 0px;
  }
}

.footer__link {
  font-family: "PFdin-medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.79;
  letter-spacing: 1.4px;
  color: #fff;
  transition: transform, 0.5s;
}
.footer__link:hover {
  transform: scale(0.9);
}

.footer__contacts {
  padding: 15px 0px 0px 0px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 767.98px) {
  .footer__contacts {
    align-items: center;
  }
}

.footer__phone {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  font-family: "BravoRG";
  font-size: 50px;
  line-height: 0.5;
  color: #bb9c66;
}
.footer__phone small {
  font-size: 25px;
}
@media (max-width: 991.98px) {
  .footer__phone {
    font-size: 40px;
  }
  .footer__phone small {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .footer__phone {
    margin-bottom: 10px;
  }
}

.footer__callback {
  background: url("../img/quotes/icons/07.png") left no-repeat;
  padding: 0px 0px 0px 12px;
  color: #bb9c66;
}
.footer__callback span {
  border-bottom: 1px dotted #bb9c66;
  font-size: 14px;
  line-height: 1.5;
}/*# sourceMappingURL=style.css.map */